.newtask {
  position: relative;
}

.newtask__icon {
  position: absolute;
  color: #484f59;
  left: 10px;
  top: 5px;
  z-index: 1;
}

.newtask__input {
  width: 100%;
  font-size: 14px;
  background-color: #343a40;
  color: #6b7179;
  border: 1px solid #2e3238;
  border-radius: 2px;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: calc(1.5em + 0.75rem);
  position: relative;
}

.newtask__input:focus {
  border: 1px solid #777d86;
  outline: none;
}
